<a href="https://colab.research.google.com/github/Nikhitha-Math/python_assignment/blob/main/python_assignment_b6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [10]:
# Your code here
def your_function_1(s):
  v="aeiouAEIOU"
  c=0
  for i in s:
    if i in v:
      c+=1
  return c

s=input("enter string")
c1=your_function_1(s)
print(c1)

enter stringnikhitha
3

### Question 2
Write a function that checks whether a number is prime.

In [2]:
# Your code here
def your_function_2(n):
  c=0
  for i in range(1,n+1):
    if n%i==0:
      c+=1
  if c==2:
    return True
  else:
    return False

s=your_function_2(12)
print(s)

False

### Question 3
Write a function to return the maximum of two numbers.

In [3]:
# Your code here
def your_function_3(a,b):
    return max(a,b)


m=your_function_3(2,3)
print(m)

3

### Question 4
Write a function to return the factorial of a number.

In [4]:
# Your code here
def your_function_4(f):
  fact=1
  for i in range(1,f+1):
    fact*=i
  return fact

p=your_function_4(5)
print(p)

120

### Question 5
Write a function to reverse a string without string indexing.

In [5]:
# Your code here
def your_function_5(s):
  r=""
  for i in s:
    r=i+r
  return r

r=your_function_5("Nikhitha")
print(r)

ahtihkiN

### Question 6
Write a function to check if a string is a palindrome.

In [13]:
# Your code here
def your_function_6(s):
  s1=s[::-1]
  if s1==s:
    print("palindrome")
  else:
    print("not palindrome")

your_function_6("malayalam")

palindrome

### Question 7
Write a function to count vowels in a string.

In [14]:
# Your code here
def your_function_7(s):
  v="aeiouAEIOU"
  c=0
  for i in s:
    if i in v:
      c+=1
  return c



c1=your_function_1(s="Nikhitha")
print(c1)

3

### Question 8
Write a function that returns the sum of a list.

In [15]:
# Your code here
def your_function_8(l):
    return sum(l)

s=your_function_8([1,2,3,4,5])
print(s)

15

### Question 9
Write a function to find the smallest number in a list.

In [18]:
# Your code here
def your_function_9(l):
  return min(l)

s=your_function_9([3,2,4])
print(s)

2

### Question 10
Write a function to remove duplicates from a list.

In [19]:
# Your code here
def your_function_10(l):
    s=set(l)
    print(s)

your_function_10([2,2,3,4,5,5])

{2, 3, 4, 5}

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [23]:
# Your code here
def your_function_11(l):
  for i in range(len(l)):
    for j in range(i+1,len(l)):
      if l[i]>l[j]:
        l[i],l[j]=l[j],l[i]
  return l

s=your_function_11(l=["aab","bac","bbb"])
print(s)

['aab', 'bac', 'bbb']

### Question 12
Write a function that returns the length of a string.

In [24]:
# Your code here
def your_function_12(s):
  print(len(s))


your_function_12(s="nikhitha")

8

### Question 13
Write a function to count words in a sentence.

In [38]:
from re import I
# Your code here
def your_function_13(s):
  c=0
  for i in range(len(s)):
    if s[i]!=' ' and (i==0 or s[i-1]==" "):
      c+=1
  print(c)





your_function_13(s=" hello  world")

2

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [39]:
# Your code here
def your_function_14(cel):
    return (cel*(9/5))+32


fah=your_function_14(cel=25)
print(fah)

77.0

### Question 15
Write a function to check if a number is palindrome.

In [41]:
# Your code here
def your_function_15(n):
    s=str(n)
    s1=s[::-1]
    if s1==s:
      print("palindrome")
    else:
      print("not palindrome")

your_function_15(n=2232)

not palindrome

### Question 16
Write a function to return all even numbers in a list.

In [43]:
# Your code here
def your_function_16(l):
  l1=[]
  for i in l:
    if i%2==0:
      l1.append(i)
  s=set(l1)
  print(s)

your_function_16(l=[2,2,5,1,6,7])

{2, 6}

### Question 17
Write a function to return the nth Fibonacci number.

In [49]:
# Your code here
def your_function_17(a,b,n):
  l=[]
  for i in range(2,n+1):
    c=a+b
    l.append(c)
    a=b
    b=c
  return l[len(l)-1]


s=your_function_17(a=0,b=1,n=5)
print(s)

5

### Question 18
Write a function to calculate the average of a list.

In [50]:
# Your code here
def your_function_18(l):
  for i in l:
    return sum(l)/len(l)

s=your_function_18(l=[2,3,1])
print(s)

2.0

### Question 19
Write a function that returns a dictionary of character counts.

In [58]:
# Your code here
def your_function_19(l):
  d={}
  for i in l:
    s=str(i)
    d[s]=len(s)
  print(d)

your_function_19([532,"hi",5555])

{'532': 3, 'hi': 2, '5555': 4}

### Question 20
Write a function that returns True if all list elements are unique.

In [63]:
# Your code here
def your_function_20(l):
  s=set(l)
  if len(s)==len(l):
    return True
  else:
    return False

p=your_function_20(l=["hello","hi",3])
print(p)

True

### Question 21
Write a function that returns dot product of two list of numbers

In [64]:
# Your code here
def your_function_21(l,l1):
  res=0
  if len(l)==len(l1):
    for i in range(len(l)):
      res=res+l[i]*l1[i]
  return res

s=your_function_21(l=[1,2,3],l1=[2,3,4])
print(s)

20

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

In [65]:
# Your code here
import math
def your_function_22(a,b):
  res=0
  if len(a)==len(b):
    for i in range(len(a)):
      res=res+a[i]*b[i]
  mag=math.sqrt(sum(i*i for i in b))
  return res/mag

p=your_function_22(a=[2,3,4],b=[2,3,4])
print(p)

5.385164807134505

### Question 23
Write a function to return common elements between two lists.

In [66]:
# Your code here
def your_function_23(a,b):
  l=[]
  s=set(a)
  for i in s:
    if i in b:
      l.append(i)
  print(l)

your_function_23(a=[2,3,4,5],b=[2,4,5,5])

[2, 4, 5]

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

In [76]:
# Your code here
import math
class Vector:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def  add(self):
    sum=0
    if len(self.a)==len(self.b):
      for i in range(len(self.a)):
        sum=sum+self.a[i]+self.b[i]
    print("sum=",sum)
  def dot(self):
    res=0
    if len(self.a)==len(self.b):
      for i in range(len(self.a)):
        res=res+self.a[i]*self.b[i]
    print(res)
  def mag(self):
    a1=math.sqrt(sum(i*i for i in self.a))
    b2=math.sqrt(sum(i*i for i in self.b))
    print("mag of a",a1)
    print("mag of b",b2)


v=Vector(a=[2,3,4],b=[3,4,5])
v.add()
v.mag()

sum= 21
mag of a 5.385164807134504
mag of b 7.0710678118654755

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

In [77]:
# Your code here
def per(l, p):
    l=sorted(l)
    n = len(l)
    q1= (p / 100) * (n - 1)
    lower = int(q1)
    upper = lower + 1
    dp =q1- lower
    if upper >= n:
        return l[lower]
    return l[lower] + dp * (l[upper] - l[lower])
def your_function_25(l):
    q1= per(l, 25)
    q3 = per(l, 75)
    iqr = q3 - q1
    lb = q1 - 1.5 * iqr
    ub= q3 + 1.5 * iqr
    c=0
    for i in l:
      if i<lb or i>ub:
        print("outliers are:",i)
        c+=1
      if c==0:
        print('none')


your_function_25(l=[1,4,23,5])

none
none
outliers are: 23

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [81]:
# Your code here
def your_function_26(l=[2,3,4,5],population=True):
  mean=sum(l)/len(l)
  if population:
    var1=sum((i-mean)**2 for i in l)/len(l)
    print(var1)
  else:
    var2=sum((i-mean)**2 for i in l)/(len(l)-1)
    print(var2)

your_function_26(population=False)

1.6666666666666667

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [84]:
# Your code here
def your_function_27():
  return [i*i for i in range(1,21) if i%2==0]

l1=your_function_27()
print(l1)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

In [87]:
# Your code here
import math

def compute_norms(vector):
    l1 = sum(abs(x) for x in vector)
    l2 = math.sqrt(sum(x**2 for x in vector))
    return l1, l2

v = [3, -4, 1]
l1_norm, l2_norm = compute_norms(v)

print("Vector:", v)
print("L1 Norm:", l1_norm)
print("L2 Norm:", l2_norm)

Vector: [3, -4, 1]
L1 Norm: 8
L2 Norm: 5.0990195135927845

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

In [88]:
# Your code here
import math

def confidence_interval_95(data):
    n = len(data)
    if n == 0:
        return None

    mean = sum(data) / n
    variance = sum((x - mean) ** 2 for x in data) / (n - 1)
    std_dev = math.sqrt(variance)
    z = 1.96

    margin_of_error = z * (std_dev / math.sqrt(n))

    lower_bound = mean - margin_of_error
    upper_bound = mean + margin_of_error

    return (lower_bound, upper_bound)


data = [10, 12, 9, 11, 13, 10]
ci = confidence_interval_95(data)
print("95% Confidence Interval:", ci)

95% Confidence Interval: (9.655519916681763, 12.011146749984905)

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [89]:
# Your code here
def frequency_distribution(data):
    freq_dict = {}
    for item in data:
        if item in freq_dict:
            freq_dict[item] += 1
        else:
            freq_dict[item] = 1
    return freq_dict

# Example usage
data = ["hello", "hi", "hello", "ooo", "hi", "hiiiii"]
result = frequency_distribution(data)
print(result)

{'hello': 2, 'hi': 2, 'ooo': 1, 'hiiiii': 1}